@model List<Movie>

<div class="container">
    <form asp-method="post" asp-action="MovieNightResults" class="my-4">
        <div class="form-group col-md-6">
            <h4>Search Movie:</h4>
            <input type="text" name="title1" class="form-control" placeholder="Enter movie title 1" />
        </div>
        <div class="form-group col-md-6">
            <h4>Search Movie:</h4>
            <input type="text" name="title2" class="form-control" placeholder="Enter movie title 2" />
        </div>
        <div class="form-group col-md-6">
            <h4>Search Movie:</h4>
            <input type="text" name="title3" class="form-control" placeholder="Enter movie title 3" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<br />

@{
    if (Model != null)
    {
        foreach(Movie m in Model)
        {
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="@m.Poster" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">@m.Title</h4>
                            <p class="card-text">@m.Plot</p>
                            <p class="card-text">@m.Genre</p>
                            <p class="card-text">@m.Year</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}