@model Movie

<div class="container">
    <form asp-method="post" asp-action="MovieSearchResults" class="my-4">
        <h4>Search for a movie title here</h4>
        <div class="form-group col-md-6">
            <input type="text" name="title" class="form-control" placeholder="Enter movie title" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<br />

@{
    if (Model != null)
    {
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@Model.Poster" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">@Model.Title</h4>
                        <p class="card-text">@Model.Plot</p>
                        <p class="card-text">@Model.Genre</p>
                        <p class="card-text">@Model.Year</p>
                    </div>
                </div>
            </div>
        </div>
    }
}
